option{
    text-align: center;
}
.TopBar{
    height: 60px;
    width: 100%;
    display: flex;
    background-color: #68EBB6; 
    font-family: 'Bangers', cursive; 
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.Shows{
margin-top: 15px;
background-color: aquamarine;
height: 100%;
font-size: 100px;
display: flex;
justify-content: left;
}
#MainBox{
    /* border: 1px solid rgb(134, 20, 20); */
    display: inline-flex;
    margin-top: 25px;
    width: 100%;
}
.MovieTicekts{
    border-radius: 10px;
    height: 400px;
    width: 35%;
    display: inline-flex;
    border: 1px solid black;
    background-color: rgb(85, 150, 69); 
    flex-direction: column;
}
.DrpDwn, #BookSeats{ 
    margin: 20px auto 20px auto;
    width: 300px;
    font: message-box;
    font-size: 100%;
    height: 40px;
    background-color: #cfd6cb;
    border-radius: 10px; 
    box-shadow: 5px 10px 10px #488a66;
    text-align-last:center;
}
#TotalBox{ 
    /* margin-left: 10%; */
    border: 1px solid black;
    /* margin-left: 25px; */
    border-radius: 10px;
    height: max-content;
    width: 25%;
    height: 400px;
    justify-content: center;
    align-items: center;
    background-color: #24bb95; 
}
#TotalText{
    height: max-content;
    width: 100%;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 70px;
}
#TotalValue{
    width: 200px;
    height: 60px; 
    left: 5px;
    margin: 0 auto 0 auto;
    border-radius: 7px;
    background-color: antiquewhite; 
    align-items: center;
    font-size: 50px;
    text-align: center;
}
#Pay {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  align-items: center;
  font-weight: 1500;
  background-color: #fee6e3;
  margin-top: 80px;
  margin-left: 70px;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  height: 60px;
  justify-content: center;
  line-height: 24px;
  width: 200px;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#Pay:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

#Pay:hover:after {
  transform: translate(0, 0);
}

#Pay:active {
  background-color: #ffdeda;
  outline: 0;
}

#Pay:hover {
  outline: 0;
}

@media (min-width: 768px) {
  #Pay {
    padding: 0 40px;
  }
}
#date{
  border: 1px solid black;
  background-color: #68EBB6;
  height: 50px;
  border-radius: 10px;
  width: 80%;
  margin-top: 25px;
  margin-left: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
#DateAndTime{
  /* border: 1px solid black; */
  height: 400px;
  width: 15%;
  font-size: 20px; 
  /* border-radius: 10px; */
}
.erts{
  transform: scale(2);
  margin-left: 100px;
}
.Date{
  border: 1px solid black;
  border-radius: 10px;
  background-color: aquamarine;
  height: 195px; 
  margin: 0  5px 5px 5px; 
}
.Time{
  border: 1px solid black;
  border-radius: 10px;
  background: aquamarine;
  height: 195px;  
  margin: 5px 5px 0px 5px;
}
#TimeSlots{
  height: 50px;
  border-radius: 10px;
  background-color: #68EBB6;
  width: 80%;
  margin-top: 25px;
  margin-left: 20px;
}
#SelectSeats{
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-right: 5px;
  border-radius: 10px;
  height: max-content;
  width: 25%;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #24bb95;
}
.SelectGrid{
  display: flex;
  flex-direction: column;
  /* padding: 10px; */
  
}
.selectSeatsText{
  font-size: 40px;
}
.FloorSeats{
  background-color: #fee6e3;
  margin: 2px 0px;
  display: grid;
  width: 75%;
  border-radius: 10px;
  border: 1px solid black;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
.BenchSeats{
  margin: 2px 0px;
  background-color: #fee6e3;
  display: grid;
  width: 75%;
  border-radius: 10px;
  border: 1px solid black;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
.ChairSeats{
  background-color: #fee6e3;
  margin: 2px 0px;
  width: 75%;
  display: grid;
  border-radius: 10px;
  border: 1px solid black;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
.ReclinerSeats{
  background-color: #fee6e3;
  margin: 2px 0px;
  width: 75%;
  display: grid;
  border-radius: 10px;
  border: 1px solid black;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
.BalconySeats{
  background-color: #fee6e3;
  margin: 2px 0px;
  display: grid;
  width: 75%;
  border-radius: 10px;
  border: 1px solid black;
  grid-template-columns: auto auto auto auto auto auto auto auto;
}
.ScreenText{
  display: flex;
  align-items: center; 
  text-align: center;
  width: 10%;
  margin: 2px 0px;
  padding-left: 10px;
  padding-right: 23px;
  margin-right: 2px;
  margin-left: 2px;  
  background-color: #fee6e3;
  border: 1px solid black;
  border-radius: 5px;
}
.screen{
  height: 10px;
  width: 70%;
  border-top: 10px solid white;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.grid-item{
  border: 1px solid black;
  background-color: #fee6e3;
  height: 12px;
  width: 12px;
  margin: 3px 8px ;
}
.ScreenBox{
  display: flex;
  margin-left: 1%;
  gap: 2px ;
  width: 100%;
}
.grid-item:hover{
  cursor: pointer;
}
#FloorSeatsMain, #BalconySeatsMain, #ReclinerSeatsMain, #BenchSeatsMain, #ChairSeatsMain{
  display: flex;
  margin-left: 1%;
  gap: 2px ;
}
#FlrSts, #BlcSts, #RclSts, #ChrSts, #BnchSts{
  display: flex;
  align-items: center; 
  text-align: center;
  background-color: #fee6e3;
  width: 20%;
  margin: 2px 0px;
  margin-right: 2px;
  border: 1px solid black;
  border-radius: 10px;
}