
*{
    margin: 0;
    padding: 0;
    }

header{
    background-image: url("Lammbboo.jpg") ;
    height: 657px;
    width: 1366px;
    background-size:cover;
    background-position: center;
    opacity: .99;
    

}
.nav{
    float: right;
    list-style: none;
    
}

.nav li{
    display: inline-block;
}

.nav li a{
    text-decoration: none;
    padding: 5px 20px;
    color: rgb(0, 0, 0);
    font-size: 150%;
    margin:10px;
    transition: .5s;
    
}
.nav li a:hover{
    font-size: 200%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 500px;
    border: 1px black;
    
    background-color: rgba(108, 109, 101, 0.212) ;
}
.tagLine{
    font-size: 270%;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    margin-left: 850px;
    margin-top: 450px;
}
.BuyNow a { 
  text-decoration: none;
  font-size: 100%;
  color: thistle;
  background-color: transparent;
  margin-top: 00px;
  margin-left: 300px;
  transition: 10s;
}
.BuyNow a:hover { 
    text-transform: uppercase;
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 50px;
    border: 1px black;  
    background-color: rgba(108, 109, 101, 0.212) ;
    /* transition: 10s; */

}
#Cars{
    border-radius: 10px;
    color: greenyellow;
    position: relative;
    animation-name: Cars;
    animation-duration: .5s ;
    /* animation-delay: 2s; */

}
@keyframes Cars {
  0%{  top: 0px;  }
  12.5%{  top: -10px;  }
  25%{ top: -20px;  }
  37.5%{  top: -10px;  }
  50%{ top: 00px;  }
    
}
#Gallery{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: Gallery;
  animation-duration: .5s ;
  
  /* animation-delay: 2s; */

}
@keyframes Gallery {
  12.5%{  top: 0px;  }
  25%{  top: -10px;  }
  37.5%{  top: -20px;  }
  50%{  top:-10px;  }
  62.5%{  top: 00px;  }
  
}
#PriEst{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: PriEst;
  animation-duration: .5s ;
  /* animation-delay: 2s; */

}
@keyframes PriEst {
  25%{  top: 0px;  }
  37.5%{  top: -10px;  }
  50%{  top: -20px;  }
  62.5%{  top: -10px;  }
  75%{ top: 00px;  }
  
}
#About{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: About;
  animation-duration: .5s ;
  /* animation-delay: 2s; */

}
@keyframes About {
  37.5%{ top: 0px;  }
  50%{  top: -10px;  }
  62.5%{ top: -20px;  }
  75%{ top: -10px;  }
  87.5%{  top: 00px;  }
}
#ConUs{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: ConUs;
  animation-duration: .5s ;
  /* animation-delay: 2s; */

}

@keyframes ConUs {
  50%{  top: 0px;  }
  62.5%{ top: -10px;  }
  75%{   top: -20px;  }
  87.5%{  top: -10px;  }
  100%{  top: 00px;  }
  
}


