div3{
    margin: 0;
    padding: 0;
   }
 
  header{

      background-image: url("Lammbboo.jpg") ;
      height: 657px;
      width: 1340x;
      background-size:cover;
      background-position: center;
     
 
  }
  .nav{
      float: right;
      list-style: none;
     
  }

  .nav li{
      display: inline-block;
  }

  .nav li a{
      text-decoration: none;
     padding: 5px 20px;
     color: rgb(0, 0, 0);
     font-size: 150%;
     margin:10px;
    
  }
  .nav li a:hover{
      font-size: 200%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-radius: 500px;
      border: 1px black;
     
      background: gray;
      
  }
  .tagLine{
      font-size: 270%;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: absolute;
      margin-left: 850px;
      margin-top: 450px;
  }
  .BuyNow a:hover { 
      font-size: 70%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-radius: 50px;
      border: 1px black;  
      background-color: rgba(108, 109, 101, 0.212) ;

  }
  .BuyNow a { 
      text-decoration: none;
      font-size: 80%;
      color: thistle;
      background-color: transparent;
      margin-top: 00px;
      margin-left: 300px;

  }
  
  body {
       background-color: powderblue;
       
   }
   div2
  {
     width:110px;
     height:20px;
     background-color:powderblue;
     border:1px solid black;
  }
  h1
  {   
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgb(35, 175, 140) 98%, rgba(14,13,126,1) 100%);
    background-color:powderblue;
     text-align:left;
     color:blue;
     
  }
  h2
  {   
    
     background-color:powderblue;
     text-align:left;
     
  }
  p
  {
     font-family:"verdana", Courier,monospace; 
  }
  #Cars{
     
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  p2
  {
      border-width:2px red;
     height:100px;
     width:100px;
     background-color:green;
     color:black;
     text-align:left;
     
  }
  #address1{
    visibility: visible;
     font-style: normal;
     cursor: cell;
  }
  #Cars{
      border-radius: 10px;
      color: greenyellow;
      position: relative;
      animation-name: Cars;
      animation-duration: .5s ;
      animation-delay: 2s;

  }
  @keyframes Cars {
    0%{  top: 0px;  }
    12.5%{  top: -10px;  }
    25%{ top: -20px;  }
    37.5%{  top: -10px;  }
    50%{ top: 00px;  }
      
  }
  #Gallery{
    border-radius: 10px;
    color: greenyellow;
    position: relative;
    animation-name: Gallery;
    animation-duration: .5s ;
    animation-delay: 2s;

}
@keyframes Gallery {
    12.5%{  top: 0px;  }
    25%{  top: -10px;  }
    37.5%{  top: -20px;  }
    50%{  top:-10px;  }
    62.5%{  top: 00px;  }
    
}
#PriEst{
    border-radius: 10px;
    color: greenyellow;
    position: relative;
    animation-name: PriEst;
    animation-duration: .5s ;
    animation-delay: 2s;

}
@keyframes PriEst {
    25%{  top: 0px;  }
    37.5%{  top: -10px;  }
    50%{  top: -20px;  }
    62.5%{  top: -10px;  }
    75%{ top: 00px;  }
    
}
#About{
    border-radius: 10px;
    color: greenyellow;
    position: relative;
    animation-name: About;
    animation-duration: .5s ;
    animation-delay: 2s;

}
@keyframes About {
    37.5%{ top: 0px;  }
    50%{  top: -10px;  }
    62.5%{ top: -20px;  }
    75%{ top: -10px;  }
    87.5%{  top: 00px;  }
}
#ConUs{
    border-radius: 10px;
    color: greenyellow;
    position: relative;
    animation-name: ConUs;
    animation-duration: .5s ;
    animation-delay: 2s;

}
 
@keyframes ConUs {
    50%{  top: 0px;  }
    62.5%{ top: -10px;  }
    75%{   top: -20px;  }
    87.5%{  top: -10px;  }
    100%{  top: 00px;  }
    
}

  
  #ghgh{
      color: red;
      
      width: 500px;
    background-color: white;
    box-shadow: 0px 0px 10px violet;
}
body{
    background: rgb(38,111,129);
    background: linear-gradient(180deg, rgba(38,111,129,1) 0%, rgba(241,194,186,1) 98%, rgba(237,190,182,1) 100%);
}

#frame1{
    height: 657px;
    width: 1340px;
  }

.bar1, .bar2, .bar3{
      background-color: black;
      width: 30px;
      height: 2px;
      margin: 6px 0px; 
      transition: .5s; 

  }
  .container {
    display: inline-block;
    cursor: pointer;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
   
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-05px, -03px);
    transform: rotate(45deg) translate(-05px, -03px);
    
    }  

  .testing1, .testing2, .testing3{
    background-color:red;
    height:40px;
    width:5px;
    float:left;
    margin: 6px  6px;
    transition: .5s;   
  }

.tsng {
    display: inline-block;  
    cursor: pointer;
  }

   
.change .testing1{ 
    -webkit-transform: rotate(-45deg) translate(10px, 15px) ;
    transform: rotate(-45deg) translate(10px ,15px) ;
}
  .change .testing2{ 
  opacity: 0;
  }
  .change .testing3{ 
    -webkit-transform: rotate(45deg) translate(-10px,15px) ;
    transform: rotate(45deg) translate(-10px,15px) ;
  }

.square{
  background-image: url("Lammbboo.jpg") ;
  /* background-color: chartreuse; */
  height: 245px;
  width: 500px;
  background-size:cover;
  background-position: center;
  margin-left: 174.5px;
  transition: 1s;
   
}

.square:hover{
  background-image: url("DuckDuckGo-Logo.jpg") ;
  height: 325px;
  width:327px;
  background-size:cover;
  background-position: center;
  margin-left: 328.5px;
  transform: rotate(360deg);
}
.collapsible{
  /* display: inline-block; */
  cursor: pointer;
  padding-bottom:10px ;
 
 
}
.collabutton {
  /* float: left; */
  /* position: fixed; */
  cursor: pointer;
  margin: 10px 15px;
  border: .5px solid black;
  width: 150px;
  text-align: center;
  /* display: inline-block; */
  /* display: inline-block;  */

  
}

.collabutton::after{
  content: '\25be';
  transform: scale(1.5);
  float: right; 
  padding: 10px,15px;
}

.active, .collapsible:hover {
  background-color: rgb(124, 159, 160);
}

.active, .collabutton:hover{
  background-color: rgb(10, 192, 116);
}

.collabutton.active {background: green;
max-height: 150px;}

.collabutton.active::after{content: '\25b4';}

.content{ 
  display: block;
  overflow: hidden;
  max-height: 0px;
  transition: max-height .5s;
  padding: 0 15px;
}

.MenuButton{
  margin: 5px;
}
.menubars1, .menubars2, .menubars3{
  width: 25px;
  height: 2px;
  margin: 5px;
  background: black;
  cursor: pointer;
  transition: .5s;

}
/* .change .menubars1{
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}
.change .menubars2{
 opacity: 0;
 transition: .5s;
}
.change .menubars3{ 
  -webkit-transform: rotate(45deg) translate(5px, -5px);
  transform: rotate(-45deg) translate(5px, -5px);
} */

.change .menubars1{
  -webkit-transform: translateY(  7px) rotate(45deg)   ;
  transform: translateY( 7px) rotate(45deg)  ;
  
}
.change .menubars2{
 opacity: 0;
 transition: .5s;
}
.change .menubars3{ 
  -webkit-transform: translateY( -7px ) rotate(-45deg)   ;
  transform: translateY(  -7px)   rotate(-45deg)  ;
}

.panelsss{
  position: inherit;
  display: none;
  
}
.active1.panelsss{ 
 width: 1250px;
 border-radius: 50px;
 height: 250px; 
 text-align: center;
 padding-top: 100px;
 background-color: cadetblue; 
 margin-top: 100px;
 display: block;

}

#tabs{
  list-style-type: none;
}
.tab-panel:hover{
  cursor: pointer;
  background-color: rgb(107, 194, 26);
  transition: 5s;
   
  
}
.tab-panel{ 
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  padding-top: 20px;
  display: inline-flex;
  justify-content: space-around;
  margin : 0; 
  float: left; 
}


.MenuPanel{
  margin: 5px;
  display: flex;
 
}
#MenuPanel22{
  display: block ;
  transition: .5s;
  padding-top: 10px;
  padding-right: 5px;
}
.menupanelbar1,.menupanelbar2,.menupanelbar3 {
  width: 25px;
  height: 2px;
  margin:    5px;
  background: black;
  cursor: pointer;
  transition: .5s; 

}

#dfghj{
  font-size: 25px;
  display: flex;
} 
#dfghj2{
  font-size: 0; 
} 
.change .menupanelbar1{
  -webkit-transform: translateY(  7px)  rotate(-45deg)    ;
  transform: translateY( 7px) rotate(-45deg)   ;
}
.change .menupanelbar2{
 opacity: 0;
 transition: .5s;
}
.change .menupanelbar3{ 
  -webkit-transform: translateY( -7px ) rotate(45deg)   ;
  transform: translateY(  -7px)   rotate(45deg)  ;
}

#MenuList1{
  /* background: gray; */
  transition: .5s;
  display: none;
  list-style-type: none; 
  margin-top: 40px;
  margin-left: -155px;
  font-size: 20px;
  width: 150px;
}  
 .Menu{
   border-bottom: 1px solid black;
   width:100px;
   margin-left: -15px;
   padding: 3px;
   cursor: pointer;
 }
 .Menu a{
  text-decoration: none;
  color: blanchedalmond;

 }
.sidepanel{  
  /* border: 1px solid greenyellow; */
  display: flex;
  position: relative;
  background-color: none;
  /* border-radius: 500px; */
  /* width: 1050px; */
  /* height: 200px; */
}

#HorizontalMenu{
  /* border: 1px solid darkcyan; */
  background-color: rgb(124, 89, 54);
  color : white;
  height: 50px;
  width: 97.5vw;
  display: flex;
  justify-content: space-evenly;
}
.HorizontalMenuHeads:hover{
  opacity: .7;
}
.HorizontalMenuHeads{ 
  /* border: 1px solid black; */
  width: 200px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
   font-size: 25px;
  vertical-align: middle;
  padding-top: 5px ;
  /* padding-left:  70px; */
  background-color: rgb(124, 89, 54);
  
}
.HorizontalMenuHeads a{ 
text-decoration: none;
color : white;
}

#list1{
  position: relative;
  display: none;
}

.HorizontalMenuHeads:hover #list1{
  padding: 0 ;
  margin-top: 12px;
  list-style-type: none;
  font-size: medium;
  background-color: aliceblue;
  color: black;
  width: inherit;
  /* height: 50px; */
  display: block;
}
#list1 li{
  height: 30px;
}
.HorizontalHeads{
  display: none;
  color: black;
  overflow: visible;
}
.withfb:hover .HorizontalHeads{ 
  border: 1px solid black;
  /* background-color: aquamarine; */
display: block;


}
.withfb:hover .HorizontalHeads #list1{
  display: block;
  background-color: violet;
  overflow: hidden;
  margin-top: -50px;
margin-left: 150px;
}
.container2 {
  /* border: 1px solid black; */
  width: 1250px;
  height: 200px;
  margin:  50px auto;
}  
.box{
  position: relative;
  display:inline-flexblock;
  float: left;
  background-color: aqua;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  width: 200px;
  margin: 15px 105px;
  height: 150px;
  box-sizing: border-box;
  overflow: hidden;
}
.content2{
  background-color: rgb(27, 103, 133);
  display: none;
}
.box:hover{
  background-color: rgb(27, 103, 133);
}
.container2 .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 1;
  /* border: 1px solid black; */
  border-radius: 5px;

}
.box:hover .icon{
  position: relative;
  top: 0px; 
  width: 25%;
  height: 25%;
  left: 35%;
  border-radius: 5px;
}
.box .icon .fa{ 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  transform: translate(50% ,50%);
  
}

.box:hover .icon .fa{ 
  position: absolute;
  /* display: none;  */
  top: 0;
  left: 50%;
  transition: .5s;
}
.box:hover .content2{
  position: relative;
  display: block; 
  width: 100%;
  height: 100%;  
  overflow: scroll; 
}
.content2::-webkit-scrollbar {
  display: none;
}
.content2 h3{
  margin-top:0 ;
  text-align: center;
}
.content2 p{
  text-align: center;
}
.iconbar {
  /* border: 1px solid black; */
  width: fit-content;
}
 
.iconbar a i{
  padding: 20px 25px;
  width: 210px;
  font-size: 50px;
  margin: 0px 3px;
  border-radius: 15px 15px;
  text-align: center;
  background-color: rgb(72, 189, 150);
  transition: 1s ;
 
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
} 
.iconbar a i:hover{
  background-color: rgb(190, 34, 125);
  /* border-radius: 50px 10px;  */ 
  -webkit-animation: rotation .5s linear;
  
} 
.mainbody{
  transition: 5s;
}
#LoremIpsum{
  font-size: xx-large;
}
#LoremIpsum:hover{
  cursor: pointer; 
  background-color: turquoise;
  color: black;
} 