div3{
    margin: 0;
    padding: 0;
   }
 
  header{
      background-image: url("Lammbboo.jpg") ;
      height: 657px;
      width: 1340x;
      background-size:cover;
      background-position: center;
  }
  .nav{
      float: right;
      list-style: none;
     
  }

  .nav li{
      display: inline-block;
  }

  .nav li a{
      text-decoration: none;
     padding: 5px 20px;
     color: rgb(0, 0, 0);
     font-size: 150%;
     margin:10px;
    
  }
  .nav li a:hover{
      font-size: 200%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-radius: 500px;
      border: 1px black;
      background: gray;
      
  }
  .tagLine{
      font-size: 270%;
      color: white;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      position: absolute;
      margin-left: 850px;
      margin-top: 450px;
  }
  .BuyNow a:hover { 
      font-size: 70%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      border-radius: 50px;
      border: 1px black;  
      background-color: rgba(108, 109, 101, 0.212) ;

  }
  .BuyNow a { 
      text-decoration: none;
      font-size: 80%;
      color: thistle;
      background-color: transparent;
      margin-top: 00px;
      margin-left: 300px;

  }
  
  body {
       background-color: powderblue; 
   }
   div2
  {
     width:110px;
     height:20px;
     background-color:powderblue;
     border:1px solid black;
  }
  h1
  {   
    background: rgb(34,193,195);
    background: linear-gradient(180deg, rgba(34,193,195,1) 0%, rgb(35, 175, 140) 98%, rgba(14,13,126,1) 100%);
    background-color:powderblue;
     text-align:left;
     color:blue;
     
  }
  h2
  {   
    background-color:powderblue;
    text-align:left;
  }
  p
  {
     font-family:"verdana", Courier,monospace; 
  }
  #Cars{
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  p2
  {
    border-width:2px red;
    height:100px;
    width:100px;
    background-color:green;
    color:black;
    text-align:left; 
  }
  #address1{
    visibility: visible;
     font-style: normal;
     cursor: cell;
  }
  #Cars{
    border-radius: 10px;
    color: greenyellow;
    position: relative;
    animation-name: Cars;
    animation-duration: .5s ;
    animation-delay: 2s;
  }
  @keyframes Cars {
  0%{  top: 0px;  }
  12.5%{  top: -10px;  }
  25%{ top: -20px;  }
  37.5%{  top: -10px;  }
  50%{ top: 00px;  }   
  }
  #Gallery{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: Gallery;
  animation-duration: .5s ;
  animation-delay: 2s;
}
@keyframes Gallery {
  12.5%{  top: 0px;  }
  25%{  top: -10px;  }
  37.5%{  top: -20px;  }
  50%{  top:-10px;  }
  62.5%{  top: 00px;  }
}
#PriEst{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: PriEst;
  animation-duration: .5s ;
  animation-delay: 2s;
}
@keyframes PriEst {
  25%{  top: 0px;  }
  37.5%{  top: -10px;  }
  50%{  top: -20px;  }
  62.5%{  top: -10px;  }
  75%{ top: 00px;  }    
}
#About{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: About;
  animation-duration: .5s ;
  animation-delay: 2s;  
}
@keyframes About {
  37.5%{ top: 0px;  }
  50%{  top: -10px;  }
  62.5%{ top: -20px;  }
  75%{ top: -10px;  }
  87.5%{  top: 00px;  }
}
#ConUs{
  border-radius: 10px;
  color: greenyellow;
  position: relative;
  animation-name: ConUs;
  animation-duration: .5s ;
  animation-delay: 2s;
}
 
@keyframes ConUs {
  50%{  top: 0px;  }
  62.5%{ top: -10px;  }
  75%{   top: -20px;  }
  87.5%{  top: -10px;  }
  100%{  top: 00px;  } 
}
#ghgh{
  color: red;      
  width: 500px;
  background-color: white;
  box-shadow: 0px 0px 10px violet;
}
body{
  background: rgb(38,111,129);
  background: linear-gradient(180deg, rgba(38,111,129,1) 0%, rgba(241,194,186,1) 98%, rgba(237,190,182,1) 100%);
}

#frame1{
  height: 657px;
  width: 1340px;
}

.bar1, .bar2, .bar3{
  background-color: black;
  width: 30px;
  height: 2px;
  margin: 6px 0px; 
  transition: .5s;
}
  .container {
    display: inline-block;
    cursor: pointer;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
   
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-05px, -03px);
    transform: rotate(45deg) translate(-05px, -03px);
    
    }  

  .testing1, .testing2, .testing3{
    background-color:red;
    height:40px;
    width:5px;
    float:left;
    margin: 6px  6px;
    transition: .5s;   
  }

.tsng {
    display: inline-block;  
    cursor: pointer;
  }

   
.change .testing1{ 
    -webkit-transform: rotate(-45deg) translate(10px, 15px) ;
    transform: rotate(-45deg) translate(10px ,15px) ;
}
  .change .testing2{ 
  opacity: 0;
  }
  .change .testing3{ 
    -webkit-transform: rotate(45deg) translate(-10px,15px) ;
    transform: rotate(45deg) translate(-10px,15px) ;
  }

.square{
  background-image: url("Lammbboo.jpg") ;
  /* background-color: chartreuse; */
  height: 245px;
  width: 500px;
  background-size:cover;
  background-position: center;
  margin-left: 174.5px;
  transition: 1s;
   
}

.square:hover{
  background-image: url("DuckDuckGo-Logo.jpg") ;
  height: 325px;
  width:327px;
  background-size:cover;
  background-position: center;
  margin-left: 328.5px;
  transform: rotate(360deg);
}
.collapsible{
  /* display: inline-block; */
  cursor: pointer;
  padding-bottom:10px ;
 
 
}
.collabutton {
  /* float: left; */
  /* position: fixed; */
  cursor: pointer;
  margin: 10px 15px;
  border: .5px solid black;
  width: 150px;
  text-align: center;
  /* display: inline-block; */
  /* display: inline-block;  */

  
}

.collabutton::after{
  content: '\25be';
  transform: scale(1.5);
  float: right; 
  padding: 10px,15px;
}

.active, .collapsible:hover {
  background-color: rgb(124, 159, 160);
}

.active, .collabutton:hover{
  background-color: rgb(10, 192, 116);
}

.collabutton.active {background: green;
max-height: 150px;}

.collabutton.active::after{content: '\25b4';}

.content{ 
  display: block;
  overflow: hidden;
  max-height: 0px;
  transition: max-height .5s;
  padding: 0 15px;
}

.MenuButton{
  margin: 5px;
}
.menubars1, .menubars2, .menubars3{
  width: 25px;
  height: 2px;
  margin: 5px;
  background: black;
  cursor: pointer;
  transition: .5s;

}
/* .change .menubars1{
  -webkit-transform: rotate(45deg) translate(5px, 5px);
  transform: rotate(45deg) translate(5px, 5px);
}
.change .menubars2{
 opacity: 0;
 transition: .5s;
}
.change .menubars3{ 
  -webkit-transform: rotate(45deg) translate(5px, -5px);
  transform: rotate(-45deg) translate(5px, -5px);
} */

.change .menubars1{
  -webkit-transform: translateY(  7px) rotate(45deg)   ;
  transform: translateY( 7px) rotate(45deg)  ;
  
}
.change .menubars2{
 opacity: 0;
 transition: .5s;
}
.change .menubars3{ 
  -webkit-transform: translateY( -7px ) rotate(-45deg)   ;
  transform: translateY(  -7px)   rotate(-45deg)  ;
}

.panelsss{
  position: inherit;
  display: none;
  
}
.active1.panelsss{ 
 width: 1250px;
 border-radius: 50px;
 height: 250px; 
 text-align: center;
 padding-top: 100px;
 background-color: cadetblue; 
 margin-top: 100px;
 display: block;

}

#tabs{
  list-style-type: none;
}
.tab-panel:hover{
  cursor: pointer;
  background-color: rgb(107, 194, 26);
  transition: 5s;
   
  
}
.tab-panel{ 
  font-size: 20px;
  width: 300px;
  height: 40px;
  border-radius: 15px;
  padding-top: 20px;
  display: inline-flex;
  justify-content: space-around;
  margin : 0; 
  float: left; 
}


.MenuPanel{
  margin: 5px;
  display: flex;
 
}
#MenuPanel22{
  display: block ;
  transition: .5s;
  padding-top: 10px;
  padding-right: 5px;
}
.menupanelbar1,.menupanelbar2,.menupanelbar3 {
  width: 25px;
  height: 2px;
  margin:    5px;
  background: black;
  cursor: pointer;
  transition:  .5s;

}

#dfghj{
  font-size: 25px;
  display: flex;
} 
#dfghj2{
  font-size: 0; 
} 
.change .menupanelbar1{
  -webkit-transform: translateY(  7px)  rotate(-45deg)    ;
  transform: translateY( 7px) rotate(-45deg)   ;
}
.change .menupanelbar2{
 opacity: 0;
 transition: .5s;
}
.change .menupanelbar3{ 
  -webkit-transform: translateY( -7px ) rotate(45deg)   ;
  transform: translateY(  -7px)   rotate(45deg)  ;
}

#MenuList1{
  /* background: gray; */
  transition: .5s;
  display: none;
  list-style-type: none; 
  margin-top: 40px;
  margin-left: -155px;
  font-size: 20px;
  width: 150px;
}  
 .Menu{
   border-bottom: 1px solid black;
   width:100px;
   margin-left: -15px;
   padding: 3px;
   cursor: pointer;
 }
 .Menu a{
  text-decoration: none;
  color: blanchedalmond;

 }
.sidepanel{  
  /* border: 1px solid greenyellow; */
  display: flex;
  position: relative;
  background-color: none;
  /* border-radius: 500px; */
  /* width: 1050px; */
  /* height: 200px; */
}

#HorizontalMenu{
  /* border: 1px solid darkcyan; */
  background-color: rgb(124, 89, 54);
  color : white;
  height: 50px;
  width: 97.5vw;
  display: flex;
  justify-content: space-evenly;
}
.HorizontalMenuHeads:hover{
  opacity: .7;
}
.HorizontalMenuHeads{ 
  /* border: 1px solid black; */
  width: 200px;
  text-align: center;
  cursor: pointer;
  margin-top: 5px;
   font-size: 25px;
  vertical-align: middle;
  padding-top: 5px ;
  /* padding-left:  70px; */
  background-color: rgb(124, 89, 54);
  
}
.HorizontalMenuHeads a{ 
text-decoration: none;
color : white;
}

#list1{
  position: relative;
  display: none;
}

.HorizontalMenuHeads:hover #list1{
  padding: 0 ;
  margin-top: 12px;
  list-style-type: none;
  font-size: medium;
  background-color: aliceblue;
  color: black;
  width: inherit;
  /* height: 50px; */
  display: block;
}
#list1 li{
  height: 30px;
}
.HorizontalHeads{
  display: none;
  color: black;
  overflow: visible;
}
.withfb:hover .HorizontalHeads{ 
  border: 1px solid black;
  /* background-color: aquamarine; */
display: block;


}
.withfb:hover .HorizontalHeads #list1{
  display: block;
  background-color: violet;
  overflow: hidden;
  margin-top: -50px;
margin-left: 150px;
}
.container2 {
  /* border: 1px solid black; */
  width: 1250px;
  height: 200px;
  margin:  50px auto;
}  
.box{
  position: relative;
  display:inline-flexblock;
  float: left;
  background-color: aqua;
  justify-content: space-evenly;
  /* border: 1px solid black; */
  width: 200px;
  margin: 15px 105px;
  height: 150px;
  box-sizing: border-box;
  overflow: hidden;
}
.content2{
  background-color: rgb(27, 103, 133);
  display: none;
}
.box:hover{
  background-color: rgb(27, 103, 133);
}
.container2 .box .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: .5s;
  z-index: 1;
  /* border: 1px solid black; */
  border-radius: 5px;

}
.box:hover .icon{
  position: relative;
  top: 0px; 
  width: 25%;
  height: 25%;
  left: 35%;
  border-radius: 5px;
}
.box .icon .fa{ 
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -5px;
  transform: translate(50% ,50%);
  
}

.box:hover .icon .fa{ 
  position: absolute;
  /* display: none;  */
  top: 0;
  left: 50%;
  transition: .5s;
}
.box:hover .content2{
  position: relative;
  display: block; 
  width: 100%;
  height: 100%;  
  overflow: scroll; 
}
.content2::-webkit-scrollbar {
  display: none;
}
.content2 h3{
  margin-top:0 ;
  text-align: center;
}
.content2 p{
  text-align: center;
}
.iconbar {
  /* border: 1px solid black; */
  width: fit-content;
}
 
.iconbar a i{
  padding: 20px 25px;
  width: 210px;
  font-size: 50px;
  margin: 0px 3px;
  border-radius: 15px 15px;
  text-align: center;
  background-color: rgb(72, 189, 150);
  transition: 1s ;
 
}
@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-5deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
} 
.iconbar a i:hover{
  background-color: rgb(190, 34, 125);
  /* border-radius: 50px 10px;  */ 
  -webkit-animation: rotation .5s linear;
  
} 
.mainbody{
  transition: 5s;
}
#LoremIpsum{
  font-size: xx-large;
}
#LoremIpsum:hover{
  cursor: pointer; 
  background-color: turquoise;
  color: black;
} 

.Button2{
  margin: 25px auto 25px auto ;
  display: block; 
  width: max-content;
  /* width: 150px;
  height: 35px; */
  height: fit-content; 
  font-size: 30px;
  position: relative; 
  outline: 2px solid black;
  padding: 5px;  
  transition: .5s;
}
.Button2::before{
  content:  '\a0\a0';
  transition: .5s;
}
.Button2::after{
  content:  '\a0\a0';
  transition: .5s;
}
.Button2:hover{  
  transform: scale(1.1);
  background-color: aqua; 
}
.Button2:hover::before{
  
  opacity: 0;
  cursor: pointer;
  color: aquamarine;
  background-color: aquamarine;
  width: fit-content; 
}
.Button2:hover::after{ 
  opacity: 0;
  cursor: pointer;
  color: aquamarine;
  background-color: aquamarine;
  width: fit-content; 
 } 
.wrapper {
  display: inline-flex;
  list-style: none;
  margin-left: 25%;
}

.wrapper .icon {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
  margin: 10px; 
  width: 50px;
  height: 50px;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 4px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); 
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);  
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;  
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #0e76a8 ;
  color: #ffffff;
}
#Circle1{
  margin-top: 20px;
  /* margin-bottom: 20px; */
  height: 10px;
  width: 10px;
  background-color: black;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  animation: loading 2s infinite  ;
  animation-delay: .1s; 
}
#Circle2{
  margin-top: 20px;
  /* margin-bottom: 20px; */
  height: 10px;
  width: 10px;
  background-color: black;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  animation: loading 2s infinite ;
  animation-delay: .35s; 
}
#Circle3{
  margin-top: 20px;
  /* margin-bottom: 20px; */
  height: 10px;
  width: 10px;
  background-color: black;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  animation: loading 2s infinite ;
  animation-delay: .60s;
} 
#Circle4{
  margin-top: 20px;
  /* margin-bottom: 20px; */
  height: 10px;
  width: 10px;
  background-color: black;
  position: relative;
  border-radius: 50%;
  display: inline-block;
  animation: loading 2s infinite ;
  animation-delay: .75s;  
}
@keyframes loading { 
0%{  top: 0px;  }
6.25%{  top: -7px;  }
12.5%{ top: -14px;  }
25%{  top: -7px;  }
37.5%{ top: 0px}
100%{ top: 00px;  } 
}
#LoadingAnimation{ 
  margin: 0 auto 0 47%;
}
#outerbox{ 
  background-color: antiquewhite ; 
  width: 250px;
  height: 50px;
  border-radius: 50px;
  position: relative;
  align-items: center;
  margin: 0 auto 0 40%;
}
#insidecircle{
  height: 40px;
  width: 40px; 
  border-radius: 50px;
  position: relative;
  top: 5px;
  left: 4px;
  background-color: rgb(69, 206, 35);
  /* animation: LtoR 2s infinite; */
  animation: LtoRtoL 2.5s infinite; 
}
@keyframes LtoRtoL {
  0%{ opacity: 1} 
  25%{ opacity: 0.5}
  50%{ opacity: 1; left: 204px}
  75%{ opacity: 0.5}
  100%{ opacity: 1;} 
}
@keyframes LtoR {
  0%{ opacity: 0} 
  25%{ opacity: .5}
  50%{ opacity: 1; }
  75%{ opacity: .5}
  100%{ opacity: 0; left: 204px} 
}
#outerbox1{ 
  width: 50px;
  background-color: rgb(179, 171, 171);
  height: 30px;
  border-radius: 50px;
  position: relative;
  align-items: center;
  margin: 0 auto 0 47%;
  transition: .5s;
}
#insidecircle1{
  height: 20px;
  width: 20px; 
  top: 5px;
  left: 5px;
  border-radius: 50px;
  position: relative; 
  background-color: white;
  transition: .5s;
}
#outerbox1:hover{
 cursor: pointer;
}  
#OuterBox{ 
  width: 300px;
  background-color: rgb(179, 171, 171);
  height: 40px;
  left: 0;
  border-radius: 50px;
  position: relative;
  align-items: center;
  margin: 0 auto 0 37%;
  transition: .5s;
}
#InnerBox{
  height: 30px;
  width: 150px; 
  top: 5px;
  left: 5px;
  border-radius: 50px;
  position: relative;  
  background-color: white;
  transition: .5s;
}
#InnerBox:hover{
  cursor: pointer;
}
#BoxText{
  padding: 5px;
  margin-left: 35%;
  vertical-align: middle; 
  align-items: center;
}
#showtimes{
  font-family: cursive;
  margin-left: 40%;
}
option{
  text-align: center;
}
.TopBar{
  height: 60px;
  width: 100%;
  display: flex;
  background-color: #68EBB6; 
  font-family: 'Bangers', cursive; 
  font-size: 40px;
  justify-content: center;
  align-items: center;
}
.Shows{
margin-top: 15px;
background-color: aquamarine;
height: 100%;
font-size: 100px;
display: flex;
justify-content: left;
}
#MainBox{
  /* border: 1px solid rgb(134, 20, 20); */
  display: inline-flex;
  margin-top: 25px;
  width: 100%;
}
.MovieTicekts{
  border-radius: 10px;
  height: 400px;
  width: 35%;
  display: inline-flex;
  border: 1px solid black;
  background-color: rgb(85, 150, 69); 
  flex-direction: column;
}
.DrpDwn, #BookSeats{ 
  margin: 20px auto 20px auto;
  width: 300px;
  font: message-box;
  font-size: 100%;
  height: 40px;
  background-color: #cfd6cb;
  border-radius: 10px; 
  box-shadow: 5px 10px 10px #488a66;
  text-align-last:center;
}
#TotalBox{ 
  /* margin-left: 10%; */
  border: 1px solid black;
  /* margin-left: 25px; */
  border-radius: 10px;
  height: max-content;
  width: 25%;
  height: 400px;
  justify-content: center;
  align-items: center;
  background-color: #24bb95; 
}
#TotalText{
  height: max-content;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-size: 70px;
}
#TotalValue{
  width: 200px;
  height: 60px; 
  left: 5px;
  margin: 0 auto 0 auto;
  border-radius: 7px;
  background-color: antiquewhite; 
  align-items: center;
  font-size: 50px;
  text-align: center;
}
#Pay {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
align-items: center;
font-weight: 1500;
background-color: #fee6e3;
margin-top: 80px;
margin-left: 70px;
border: 2px solid #111;
border-radius: 8px;
box-sizing: border-box;
color: #111;
cursor: pointer;
display: flex;
font-size: 16px;
height: 60px;
justify-content: center;
line-height: 24px;
width: 200px;
padding: 0 25px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
touch-action: manipulation;
}

#Pay:after {
background-color: #111;
border-radius: 8px;
content: "";
display: block;
height: 48px;
left: 0;
width: 100%;
position: absolute;
top: -2px;
transform: translate(8px, 8px);
transition: transform .2s ease-out;
z-index: -1;
}

#Pay:hover:after {
transform: translate(0, 0);
}

#Pay:active {
background-color: #ffdeda;
outline: 0;
}

#Pay:hover {
outline: 0;
}

@media (min-width: 768px) {
#Pay {
  padding: 0 40px;
}
}
#date{
border: 1px solid black;
background-color: #68EBB6;
height: 50px;
border-radius: 10px;
width: 80%;
margin-top: 25px;
margin-left: 20px;
font-size: 20px;
text-transform: uppercase;
}
#DateAndTime{
/* border: 1px solid black; */
height: 400px;
width: 15%;
font-size: 20px; 
/* border-radius: 10px; */
}
.erts{
transform: scale(2);
margin-left: 100px;
}
.Date{
border: 1px solid black;
border-radius: 10px;
background-color: aquamarine;
height: 195px; 
margin: 0  5px 5px 5px; 
}
.Time{
border: 1px solid black;
border-radius: 10px;
background: aquamarine;
height: 195px;  
margin: 5px 5px 0px 5px;
}
#TimeSlots{
height: 50px;
border-radius: 10px;
background-color: #68EBB6;
width: 80%;
margin-top: 25px;
margin-left: 20px;
}
#SelectSeats{
display: flex;
flex-direction: column;
border: 1px solid black;
margin-right: 5px;
border-radius: 10px;
height: max-content;
width: 25%;
height: 400px;
justify-content: center;
align-items: center;
background-color: #24bb95;
}
.SelectGrid{
display: grid;
/* padding: 10px; */

}
.selectSeatsText{
font-size: 40px;
}
.FloorSeats{
background-color: #fee6e3;
margin: 2px 0px;
display: grid;
border-radius: 10px;
margin: 2px 0px;
border: 1px solid black;
grid-template-columns: auto auto auto auto auto auto auto auto;
}
.BenchSeats{
margin: 2px 0px;
background-color: #fee6e3;
display: grid;
border-radius: 10px;
border: 1px solid black;
grid-template-columns: auto auto auto auto auto auto auto auto;
}
.ChairSeats{
background-color: #fee6e3;
margin: 2px 0px;
display: grid;
border-radius: 10px;
border: 1px solid black;
grid-template-columns: auto auto auto auto auto auto auto auto;
}
.ReclinerSeats{
background-color: #fee6e3;
margin: 2px 0px;
display: grid;
border-radius: 10px;
border: 1px solid black;
grid-template-columns: auto auto auto auto auto auto auto auto;
}
.BalconySeats{
background-color: #fee6e3;
margin: 2px 0px;
display: grid;
border-radius: 10px;
border: 1px solid black;
grid-template-columns: auto auto auto auto auto auto auto auto;
}
.screen{
/* border: 1px solid black; */
height: 10px;
width: 75%;
border-top: 10px solid white;
border-left: 10px solid transparent;
border-right: 10px solid transparent;
}
.grid-item{
border: 1px solid black;
background-color: #fee6e3;
height: 12px;
width: 12px;
margin: 3px 13px ;
}
.grid-item:hover{
cursor: pointer;
}
