body {
  margin: 50px 25%;
  padding: 0;
}
#container {
  width: 1440px;
  height: 900px;
  display: flex;
  justify-content: center;
}
#left {
  width: 770px;
  height: 900px;
  background-color: #ecbc76;
}
#right {
  width: 709px;
  height: 900px;
}
#sally {
  width: 392px;
  height: 358px;
  margin: 292px 0 0 165px;
}
#card {
  width: 556px;
  height: 774px;
  margin: 79px 68px 77px 85px;
  background-color: red;
  border-radius: 40px;
  background: #fff;
  box-shadow: 0px 4px 35px 0px rgba(0, 0, 0, 0.08);
  border-radius: 40px;
  display: flex;
  flex-direction: column;
}
#welcome {
  height: 30px;
  width: 186px;
  margin: 58px 0 0 46px;
  color: #000;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#signup {
  width: 208px;
  height: 83px;
  margin-left: 46px;
  color: #000;
  font-family: Poppins;
  font-size: 55px;
  /* font-style: normal; */
  font-weight: 500;
  line-height: normal;
}
#emailinp {
  display: flex;
  flex-direction: column;
  margin-top: 36.82px;
  margin-left: 45.39px;
}
#email {
  margin-top: 13.15px;
}
#emailinp input {
  width: 465.224px;
  height: 57.231px;
  flex-shrink: 0;
  border-radius: 9px;
}
::placeholder {
  padding-left: 25.79px;
  padding-top: 19.08;
  width: 311.525px;
  height: 19.077px;
  flex-shrink: 0;
  color: #808080;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#emailText {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#pwdinp input {
  width: 465.224px;
  height: 57.231px;
  flex-shrink: 0;
  border-radius: 9px;
}
#pwdText {
  color: #000;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#pwdinp {
  display: flex;
  flex-direction: column;
  margin-top: 36.82px;
  margin-left: 45.39px;
}
#password {
  margin-top: 13.15px;
}

#frgpwd {
  margin-left: 399.21px;
  margin-top: 15.06px;
  width: 111.406px;
  height: 20.081px;
  flex-shrink: 0;
  color: #ad3113;
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#signin {
  width: 465.224px;
  height: 54.219px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #e48700;
  box-shadow: 0px 4px 19px 0px rgba(119, 147, 65, 0.3);
  margin-left: 45.39px;
  margin-top: 32.13px;
}
#signin p {
  margin-left: 204px;
  margin-top: 15.06px;
  width: 57.766px;
  height: 24.097px;
  flex-shrink: 0;
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#NAsignup {
  margin-left: 340px;
  margin-top: 11.79px;
  width: 182.583px;
  height: 24.097px;
  flex-shrink: 0;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#NAsignup span {
  color: #b87514;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
#continue {
  width: 130px;
  height: 24px;
  margin-left: 207px;
  margin-top: 28.9px;
  color: #b5b5b5;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#social {
  display: flex;
  justify-content: center;
  gap: 20.73px;
  margin-top: 22.66px;
}
