body {
  margin: 0;
  padding: 0;
}
#NextBatch {
  width: 100%;
  height: 50px;
  background-color: #fedfe5;
  text-align: center;
}
.openAppli {
  font-weight: 600;
  display: inline-block;
  font-family: sans-serif;
}
#application {
  background-color: #cc032a;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 6px;
  margin-left: 20px;
  border: none;
}
li {
  list-style: none;
  display: inline-block;
}
#Masai {
  text-align: left;
}
div {
  /* border: 1px solid black; */
  width: fit-content;
}
#div2 {
  width: 100%;
  height: 80px;
  position: relative;
  text-align: center;
}
#div2 div {
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  padding-top: 10px;
}
#masaiHome {
  width: 15%;
}
.navs {
  width: fit-content;
  height: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans";
  padding-left: 30px;
  margin-top: 5px;
}
div a {
  text-decoration: none;
}
#interact {
  margin-left: 200px;
}
#div3 {
  width: 100%;
  height: 350px;
}
#div3 div {
  width: 50%;
  display: inline-block;
}

#dreamsimg {
  position: absolute;
  width: 50%;
  height: 350px;
}
.inter {
  height: 50px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans";
}
#refer {
  background-color: rgb(229, 254, 255);
  border-radius: 5px;
  padding-top: 5px;
  color: blue;
}
#signup {
  border-radius: 5px;
  padding-top: 5px;
  border: 1px solid red;
  width: 120px;
}
#dreams {
  width: 50%;
}
#test1 {
  font-family: "Poppins", sans-serif;
  font-style: bold;
  font-size: 50px;
  color: #6e71cc;
  height: 150px;
  margin-left: 25px;
}
#test2 {
  margin-top: -50px;
  margin-left: 25px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
#applynow2 {
  background-color: #cc032a;
  width: 120px;
  height: 40px;
  color: white;
  border-radius: 6px;
  margin-left: 20px;
  border: none;
}
#impact {
  background-color: #3470e4;
  color: white;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 150px;
  text-align: center;
  padding-top: 50px;
}

/* <nav><ul><li inputmode="Masai">Masai</li>
<li class="naviga">COURSES</li><li class="naviga">FEES</li>
<li class="naviga">EVENTS</li><li class="naviga">LEARN</li>
<li class="naviga">SUCCESS STORIES</li><li class="naviga">HIRE FROM US</li>
<li class="itera">REFER & EARN</li><li class="itera">SIGN UP</li></ul></nav> */
